body{
    text-align: center;
}

.second{
    background-color: rgb(224, 217, 217);
    padding-top: 20px;
}

.first{
    padding-bottom: 50px;
}

h3{
    font-size: 18px;
}

.first .img{
    padding-bottom: 40px;
}

.first .pfirst{
    padding-bottom: 40px;
}
.second .div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 50px;
}

.second .div4{
    padding-bottom: 50px;
}

.second .div3{
    padding-bottom: 100px;
    font-size: 18px;
}

#p1{
    position: relative;
    right: 19px;
}

.div2 .sec2,.sec3{
    position: relative;
    bottom: 22px;
}